<!DOCTYPE html>
<html>
  <head>
    <title><%= pageTitle %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= bannertitle %></h1>
    <p>Welcome to our <%= pageTitle %></p>
     <li><a href="about/team"> About Page</a></li> 
  </body>
</html>
