.wd100{

	width:70%
}

.mxw25{

	max-width: 25%
}

.mrg20{

	margin-right: 20px;
}


.j129u29 {
	margin: 0;
	display: block
}

.j129u29.text--link {
	color: #3897f0;
	cursor: pointer;
	display: inline-block;
	text-decoration: underline
}

.j129u29.text--link:hover {
	color: #3897f0;
	cursor: pointer
}

.j129u29.text--indented {
	margin-left: 8px
}

.j129u29.text--indented-lg {
	margin-left: 24px
}

.j129u29.text--bold {
	font-weight: 600
}

.j129u29.text--inverted {
	color: #fff
}

.j129u29.text--link-inverted {
	color: rgba(255, 255, 255, .7);
	cursor: pointer;
	display: inline-block
}

.j129u29.text--light {
	opacity: .6
}

.j129u29.text--icon {
	display: flex;
	align-items: flex-end
}

.j129u29.text--light-weight {
	font-weight: 200
}

.j129u29.text--icon .icon__root {
	margin-right: 4px
}

.j129u29.text--link-inverted:hover {
	color: #fff
}

.jeksjrj {
	color: rgba(0, 0, 0, .54);
	font-size: 7rem;
	font-weight: 300;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	line-height: 1.14286em;
	margin-left: -.04em;
	letter-spacing: -.04em
}

.j1x6rnya {
	color: rgba(0, 0, 0, .54);
	font-size: 3.5rem;
	font-weight: 400;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	line-height: 1.30357em;
	margin-left: -.02em;
	letter-spacing: -.02em
}

.jnloqo8 {
	color: rgba(0, 0, 0, .54);
	font-size: 2.8125rem;
	font-weight: 400;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	line-height: 1.13333em;
	margin-left: -.02em
}

.j111h63c {
	color: rgba(0, 0, 0, .54);
	font-size: 2.125rem;
	font-weight: 400;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	line-height: 1.20588em
}

.j1ecv5sg {
	color: rgba(0, 0, 0, .87);
	font-size: 1.5rem;
	font-weight: 400;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	line-height: 1.35417em
}

.j1885fft {
	color: rgba(0, 0, 0, .87);
	font-size: 1.3125rem;
	font-weight: 500;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	line-height: 1.16667em
}

.j8rg21s {
	color: rgba(0, 0, 0, .87);
	font-size: 1rem;
	font-weight: 400;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	line-height: 1.5em
}

.jsu4h65 {
	color: rgba(0, 0, 0, .87);
	font-size: .875rem;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: 400;
	line-height: 1.5
}

.j14e2nya {
	color: rgba(0, 0, 0, .87);
	font-size: 1rem;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: 400;
	line-height: 1.5
}

.j17ny7jy {
	color: rgba(0, 0, 0, .87);
	font-size: .75rem;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: 400;
	line-height: 1.66
}

.j1n748tu {
	color: rgba(0, 0, 0, .87);
	font-size: .875rem;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: 500;
	line-height: 1.75;
	text-transform: uppercase
}

.jiiy32b {
	color: rgba(0, 0, 0, .87);
	font-size: 6rem;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: 300;
	line-height: 1
}

.j8fmt7n {
	color: rgba(0, 0, 0, .87);
	font-size: 3.75rem;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: 300;
	line-height: 1
}

.jl3ymcd {
	color: rgba(0, 0, 0, .87);
	font-size: 3rem;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: 400;
	line-height: 1.04
}

.j10yh1l1 {
	color: rgba(0, 0, 0, .87);
	font-size: 2.125rem;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: 400;
	line-height: 1.17
}

.j17zx3cs {
	color: rgba(0, 0, 0, .87);
	font-size: 1.5rem;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: 400;
	line-height: 1.33
}

.j1ndeikr {
	color: rgba(0, 0, 0, .87);
	font-size: 1.25rem;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: 500;
	line-height: 1.6
}

.j14uqvdw {
	color: rgba(0, 0, 0, .87);
	font-size: 1rem;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: 400;
	line-height: 24px
}

.j17u3yui {
	color: rgba(0, 0, 0, .87);
	font-size: .875rem;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: 500;
	line-height: 1.57
}

.j1pbq64e {
	color: rgba(0, 0, 0, .87);
	font-size: .75rem;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: 400;
	line-height: 2.66;
	text-transform: uppercase
}

.j4pc6wb {
	width: 1px;
	height: 1px;
	position: absolute;
	overflow: hidden
}

.j1n9o75f {
	text-align: left
}

.j1v1ayyx {
	text-align: center
}

.j1qyx685 {
	text-align: right
}

.jdz8tm9 {
	text-align: justify
}

.j1mhl4wy {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis
}

.j1yjd3u7 {
	margin-bottom: .35em
}

.j1aesm80 {
	margin-bottom: 16px
}

.j1s0k9fl {
	color: inherit
}

.j1brs99t {
	color: #3897f0
}

.j53jghy {
	color: #f50057
}

.j101msld {
	color: rgba(0, 0, 0, .87)
}

.jnbtzfr {
	color: rgba(0, 0, 0, .54)
}

.j1bt7jss {
	color: #f44336
}

.j1r2ig96 {
	display: inline
}

.j59oks2 {
	margin: 0;
	display: block
}

.jpvg1r3 {
	color: rgba(0, 0, 0, .54);
	font-size: 7rem;
	font-weight: 300;
	font-family: Roboto, Helvetica, Arial, sans-serif;
	line-height: 1.14286em;
	margin-left: -.04em;
	letter-spacing: -.04em
}

.jfy2lc4 {
	color: rgba(0, 0, 0, .54);
	font-size: 3.5rem;
	font-weight: 400;
	font-family: Roboto, Helvetica, Arial, sans-serif;
	line-height: 1.30357em;
	margin-left: -.02em;
	letter-spacing: -.02em
}

.j1asq9b9 {
	color: rgba(0, 0, 0, .54);
	font-size: 2.8125rem;
	font-weight: 400;
	font-family: Roboto, Helvetica, Arial, sans-serif;
	line-height: 1.13333em;
	margin-left: -.02em
}

.j1g8m5fu {
	color: rgba(0, 0, 0, .54);
	font-size: 2.125rem;
	font-weight: 400;
	font-family: Roboto, Helvetica, Arial, sans-serif;
	line-height: 1.20588em
}

.j9ol5ig {
	color: rgba(0, 0, 0, .87);
	font-size: 1.5rem;
	font-weight: 400;
	font-family: Roboto, Helvetica, Arial, sans-serif;
	line-height: 1.35417em
}

.j7mgby4 {
	color: rgba(0, 0, 0, .87);
	font-size: 1.3125rem;
	font-weight: 500;
	font-family: Roboto, Helvetica, Arial, sans-serif;
	line-height: 1.16667em
}

.jczgco3 {
	color: rgba(0, 0, 0, .87);
	font-size: 1rem;
	font-weight: 400;
	font-family: Roboto, Helvetica, Arial, sans-serif;
	line-height: 1.5em
}

.j1n0vc23 {
	color: rgba(0, 0, 0, .87);
	font-size: .875rem;
	font-family: Roboto, Helvetica, Arial, sans-serif;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: .01071em
}

.j1pzzryc {
	color: rgba(0, 0, 0, .87);
	font-size: 1rem;
	font-family: Roboto, Helvetica, Arial, sans-serif;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: .00938em
}

.jrvs7cg {
	color: rgba(0, 0, 0, .87);
	font-size: .75rem;
	font-family: Roboto, Helvetica, Arial, sans-serif;
	font-weight: 400;
	line-height: 1.66;
	letter-spacing: .03333em
}

.jl5e6nh {
	color: rgba(0, 0, 0, .87);
	font-size: .875rem;
	font-family: Roboto, Helvetica, Arial, sans-serif;
	font-weight: 500;
	line-height: 1.75;
	letter-spacing: .02857em;
	text-transform: uppercase
}

.j1e9o7xm {
	color: rgba(0, 0, 0, .87);
	font-size: 6rem;
	font-family: Roboto, Helvetica, Arial, sans-serif;
	font-weight: 300;
	line-height: 1;
	letter-spacing: -.01562em
}

.jbt7jvi {
	color: rgba(0, 0, 0, .87);
	font-size: 3.75rem;
	font-family: Roboto, Helvetica, Arial, sans-serif;
	font-weight: 300;
	line-height: 1;
	letter-spacing: -.00833em
}

.jyu3159 {
	color: rgba(0, 0, 0, .87);
	font-size: 3rem;
	font-family: Roboto, Helvetica, Arial, sans-serif;
	font-weight: 400;
	line-height: 1.04;
	letter-spacing: 0
}

.j14p8fj4 {
	color: rgba(0, 0, 0, .87);
	font-size: 2.125rem;
	font-family: Roboto, Helvetica, Arial, sans-serif;
	font-weight: 400;
	line-height: 1.17;
	letter-spacing: .00735em
}

.j1epcahh {
	color: rgba(0, 0, 0, .87);
	font-size: 1.5rem;
	font-family: Roboto, Helvetica, Arial, sans-serif;
	font-weight: 400;
	line-height: 1.33;
	letter-spacing: 0
}

.j1ylkzii {
	color: rgba(0, 0, 0, .87);
	font-size: 1.25rem;
	font-family: Roboto, Helvetica, Arial, sans-serif;
	font-weight: 500;
	line-height: 1.6;
	letter-spacing: .0075em
}

.j1dp773x {
	color: rgba(0, 0, 0, .87);
	font-size: 1rem;
	font-family: Roboto, Helvetica, Arial, sans-serif;
	font-weight: 400;
	line-height: 1.75;
	letter-spacing: .00938em
}

.jiavbt9 {
	color: rgba(0, 0, 0, .87);
	font-size: .875rem;
	font-family: Roboto, Helvetica, Arial, sans-serif;
	font-weight: 500;
	line-height: 1.57;
	letter-spacing: .00714em
}

.jp2tpt3 {
	color: rgba(0, 0, 0, .87);
	font-size: .75rem;
	font-family: Roboto, Helvetica, Arial, sans-serif;
	font-weight: 400;
	line-height: 2.66;
	letter-spacing: .08333em;
	text-transform: uppercase
}

.j1xyp1js {
	width: 1px;
	height: 1px;
	position: absolute;
	overflow: hidden
}

.j8pgb1w {
	text-align: left
}

.jbmqzvk {
	text-align: center
}

.ju79mjg {
	text-align: right
}

.j4ipy1x {
	text-align: justify
}

.j15wl500 {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis
}

.ji1igi7 {
	margin-bottom: .35em
}

.jnywzu7 {
	margin-bottom: 16px
}

.j5pbwdt {
	color: inherit
}

.jvtfs4r {
	color: #2196f3
}

.jed3mz {
	color: #e10050
}

.j101n95l {
	color: rgba(0, 0, 0, .87)
}

.josmip3 {
	color: rgba(0, 0, 0, .54)
}

.j16eadl6 {
	color: #f44336
}

.j1i265yb {
	display: inline
}

.jc5o00y {
	color: inherit;
	cursor: pointer;
	margin: 0;
	border: 0;
	display: inline-flex;
	padding: 0;
	outline: 0;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	align-items: center;
	border-radius: 0;
	vertical-align: middle;
	justify-content: center;
	-moz-appearance: none;
	text-decoration: none;
	background-color: transparent;
	-webkit-appearance: none;
	-webkit-tap-highlight-color: transparent
}

.jc5o00y::-moz-focus-inner {
	border-style: none
}

.jc5o00y.jbijw0p {
	cursor: default;
	pointer-events: none
}

.jdermaz {
	color: rgba(0, 0, 0, .87);
	border: 1px solid transparent;
	padding: 5px 9px;
	font-size: .875rem;
	min-width: 64px;
	box-sizing: border-box;
	min-height: 30px;
	transition: background-color 250ms cubic-bezier(.4, 0, .2, 1) 0s, box-shadow 250ms cubic-bezier(.4, 0, .2, 1) 0s, border 250ms cubic-bezier(.4, 0, .2, 1) 0s;
	font-weight: 500;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	line-height: 1.75;
	border-radius: 4px;
	text-transform: uppercase
}

.jdermaz:hover {
	text-decoration: none;
	background-color: rgba(0, 0, 0, .08)
}

.jdermaz.jbijw0p {
	color: rgba(0, 0, 0, .26)
}

.jdermaz.button--inverted {
	color: #fff;
	border-color: rgba(255, 255, 255, .54)
}

.jdermaz.button--inverted:hover {
	background: rgba(255, 255, 255, .24);
	border-color: rgba(255, 255, 255, .7)
}

@media (hover:none) {
	.jdermaz:hover {
		background-color: transparent
	}
}

.jdermaz:hover.jbijw0p {
	background-color: transparent
}

.jioaf3b {
	width: 100%;
	display: inherit;
	align-items: inherit;
	font-weight: 600;
	line-height: 18px;
	text-transform: none;
	justify-content: inherit
}

.jioaf3b .icon__root {
	font-size: 20px
}

.jioaf3b .icon--left {
	margin-right: 8px
}

.jioaf3b .icon--right {
	margin-left: 8px
}

.ji57mg0 {
	padding: 6px 8px
}

.jkclm3d {
	color: #3897f0
}

.jkclm3d:hover {
	background-color: rgba(56, 151, 240, .08)
}

@media (hover:none) {
	.jkclm3d:hover {
		background-color: transparent
	}
}

.j179pv0a {
	color: #f50057
}

.j179pv0a:hover {
	background-color: rgba(245, 0, 87, .08)
}

@media (hover:none) {
	.j179pv0a:hover {
		background-color: transparent
	}
}

.jv3zboq {
	border: 1px solid rgba(0, 0, 0, .23);
	padding: 5px 16px;
	border-color: #dbdbdb
}

.jv3zboq.jbijw0p {
	border: 1px solid rgba(0, 0, 0, .26)
}

.jv3zboq.jbijw0p.inverted {
	color: #fff;
	border-color: #fff
}

.jlxfkfg {
	color: #3897f0;
	border: 1px solid rgba(56, 151, 240, .5)
}

.jlxfkfg:hover {
	border: 1px solid #3897f0;
	background-color: rgba(56, 151, 240, .08)
}

@media (hover:none) {
	.jlxfkfg:hover {
		background-color: transparent
	}
}

.j1you9ig {
	color: #f50057;
	border: 1px solid rgba(245, 0, 87, .5)
}

.j1you9ig:hover {
	border: 1px solid #f50057;
	background-color: rgba(245, 0, 87, .08)
}

.j1you9ig.jbijw0p {
	border: 1px solid rgba(0, 0, 0, .26)
}

@media (hover:none) {
	.j1you9ig:hover {
		background-color: transparent
	}
}

.jlbwhcp {
	color: rgba(0, 0, 0, .87);
	box-shadow: none;
	border-color: #3897f0;
	background-color: #e0e0e0
}

.jlbwhcp.j7hlpzc {
	box-shadow: none
}

.jlbwhcp:active {
	box-shadow: none
}

.jlbwhcp.jbijw0p {
	color: rgba(0, 0, 0, .26);
	box-shadow: none;
	background-color: rgba(0, 0, 0, .12)
}

.jlbwhcp:hover {
	background-color: #d5d5d5
}

.jlbwhcp.button--danger {
	color: #fff;
	background: #ff5252
}

.jlbwhcp.button--danger:hover {
	background: #e04848
}

@media (hover:none) {
	.jlbwhcp:hover {
		background-color: #e0e0e0
	}
}

.jlbwhcp:hover.jbijw0p {
	background-color: rgba(0, 0, 0, .12)
}

.j1ty0519 {
	color: #fff;
	background-color: #3897f0
}

.j1ty0519:hover {
	background-color: #3897f0
}

.j1ty0519:active {
	opacity: .6
}

@media (hover:none) {
	.j1ty0519:hover {
		background-color: #3897f0
	}
}

.j1hg5ul4 {
	color: #fff;
	background-color: #f50057
}

.j1hg5ul4:hover {
	background-color: #c51162
}

@media (hover:none) {
	.j1hg5ul4:hover {
		background-color: #f50057
	}
}

.j4zaesc {
	width: 56px;
	height: 56px;
	padding: 0;
	min-width: 0;
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12);
	border-radius: 50%
}

.j4zaesc:active {
	box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12)
}

.j1xsgkpm {
	width: auto;
	height: 48px;
	padding: 0 16px;
	min-width: 48px;
	border-radius: 24px
}

.j1ge0n16 {
	color: inherit;
	border-color: currentColor
}

.jcluw0t {
	width: 40px;
	height: 40px
}

.j1c2wq3y {
	padding: 4px 8px;
	min-width: 64px;
	font-size: .8125rem
}

.jr53aqk {
	padding: 8px 24px;
	font-size: .9375rem
}

.j11h6ikc {
	width: 100%
}

.j1njibue {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box
}

.jmra8tp {
	margin: 0;
	box-sizing: border-box
}

.jvjzzkh {
	min-width: 0
}

.jd0hvo4 {
	flex-direction: column
}

.j19nkgns {
	flex-direction: column-reverse
}

.j1wdgior {
	flex-direction: row-reverse
}

.jisfnjn {
	flex-wrap: nowrap
}

.jajydij {
	flex-wrap: wrap-reverse
}

.jqqz69l {
	align-items: center
}

.j5z8vk9 {
	align-items: flex-start
}

.j1ghymcm {
	align-items: flex-end
}

.j16tjnk2 {
	align-items: baseline
}

.j4fj7sm {
	align-content: center
}

.j5zawyx {
	align-content: flex-start
}

.j18nkg50 {
	align-content: flex-end
}

.j175ok7h {
	align-content: space-between
}

.j5ytugx {
	align-content: space-around
}

.j1d3qmcp {
	justify-content: center
}

.jsp1dpq {
	justify-content: flex-end
}

.j1wwtff7 {
	justify-content: space-between
}

.jvotfir {
	justify-content: space-around
}

.j15g0cnn {
	justify-content: space-evenly
}

.j1ywbuka {
	width: calc(100% + 8px);
	margin: -4px
}

.j1ywbuka>.jmra8tp {
	padding: 4px
}

.jhexfbf {
	width: calc(100% + 16px);
	margin: -8px
}

.jhexfbf>.jmra8tp {
	padding: 8px
}

.jfsjhhv {
	width: calc(100% + 24px);
	margin: -12px
}

.jfsjhhv>.jmra8tp {
	padding: 12px
}

.j12qdyaw {
	width: calc(100% + 32px);
	margin: -16px
}

.j12qdyaw>.jmra8tp {
	padding: 16px
}

.j118otc9 {
	width: calc(100% + 40px);
	margin: -20px
}

.j118otc9>.jmra8tp {
	padding: 20px
}

.j1767z3s {
	flex-grow: 0;
	max-width: none;
	flex-basis: auto
}

.jyzjcyu {
	flex-grow: 1;
	max-width: 100%;
	flex-basis: 0
}

.jddc47r {
	flex-grow: 0;
	max-width: 8.333333%;
	flex-basis: 8.333333%
}

.j1rcjydf {
	flex-grow: 0;
	max-width: 16.666667%;
	flex-basis: 16.666667%
}

.j1iocg6t {
	flex-grow: 0;
	max-width: 25%;
	flex-basis: 25%
}

.j1w41rla {
	flex-grow: 0;
	max-width: 33.333333%;
	flex-basis: 33.333333%
}

.j1xf5eo7 {
	flex-grow: 0;
	max-width: 41.666667%;
	flex-basis: 41.666667%
}

.j1gxigq9 {
	flex-grow: 0;
	max-width: 50%;
	flex-basis: 50%
}

.j1d4no9i {
	flex-grow: 0;
	max-width: 58.333333%;
	flex-basis: 58.333333%
}

.j19rc5s {
	flex-grow: 0;
	max-width: 66.666667%;
	flex-basis: 66.666667%
}

.j1rl5f25 {
	flex-grow: 0;
	max-width: 75%;
	flex-basis: 75%
}

.jgyvhz6 {
	flex-grow: 0;
	max-width: 83.333333%;
	flex-basis: 83.333333%
}

.j652g24 {
	flex-grow: 0;
	max-width: 91.666667%;
	flex-basis: 91.666667%
}

.ji3y49x {
	flex-grow: 0;
	max-width: 100%;
	flex-basis: 100%
}

@media (min-width:600px) {
	.j14akefp {
		flex-grow: 0;
		max-width: none;
		flex-basis: auto
	}
	.j1bd3viv {
		flex-grow: 1;
		max-width: 100%;
		flex-basis: 0
	}
	.j1mnr6m2 {
		flex-grow: 0;
		max-width: 8.333333%;
		flex-basis: 8.333333%
	}
	.jojz2bm {
		flex-grow: 0;
		max-width: 16.666667%;
		flex-basis: 16.666667%
	}
	.j1bhzh9f {
		flex-grow: 0;
		max-width: 25%;
		flex-basis: 25%
	}
	.jcmzsio {
		flex-grow: 0;
		max-width: 33.333333%;
		flex-basis: 33.333333%
	}
	.jsaligk {
		flex-grow: 0;
		max-width: 41.666667%;
		flex-basis: 41.666667%
	}
	.j1m74ysi {
		flex-grow: 0;
		max-width: 50%;
		flex-basis: 50%
	}
	.j1thn9t2 {
		flex-grow: 0;
		max-width: 58.333333%;
		flex-basis: 58.333333%
	}
	.j1476ebn {
		flex-grow: 0;
		max-width: 66.666667%;
		flex-basis: 66.666667%
	}
	.j8isdi9 {
		flex-grow: 0;
		max-width: 75%;
		flex-basis: 75%
	}
	.j1ddtvaq {
		flex-grow: 0;
		max-width: 83.333333%;
		flex-basis: 83.333333%
	}
	.j1q9ua2b {
		flex-grow: 0;
		max-width: 91.666667%;
		flex-basis: 91.666667%
	}
	.jo8u6yx {
		flex-grow: 0;
		max-width: 100%;
		flex-basis: 100%
	}
}

@media (min-width:960px) {
	.j19ut4ic {
		flex-grow: 0;
		max-width: none;
		flex-basis: auto
	}
	.jgsla5f {
		flex-grow: 1;
		max-width: 100%;
		flex-basis: 0
	}
	.j190tuqw {
		flex-grow: 0;
		max-width: 8.333333%;
		flex-basis: 8.333333%
	}
	.j1l3ltua {
		flex-grow: 0;
		max-width: 16.666667%;
		flex-basis: 16.666667%
	}
	.j1185afb {
		flex-grow: 0;
		max-width: 25%;
		flex-basis: 25%
	}
	.j108tgqw {
		flex-grow: 0;
		max-width: 33.333333%;
		flex-basis: 33.333333%
	}
	.j1y4iapp {
		flex-grow: 0;
		max-width: 41.666667%;
		flex-basis: 41.666667%
	}
	.j1at5604 {
		flex-grow: 0;
		max-width: 50%;
		flex-basis: 50%
	}
	.j7cewb1 {
		flex-grow: 0;
		max-width: 58.333333%;
		flex-basis: 58.333333%
	}
	.j1tubbhg {
		flex-grow: 0;
		max-width: 66.666667%;
		flex-basis: 66.666667%
	}
	.j1sf5vhl {
		flex-grow: 0;
		max-width: 75%;
		flex-basis: 75%
	}
	.j1jmci2d {
		flex-grow: 0;
		max-width: 83.333333%;
		flex-basis: 83.333333%
	}
	.j17ekx2z {
		flex-grow: 0;
		max-width: 91.666667%;
		flex-basis: 91.666667%
	}
	.j16zu27p {
		flex-grow: 0;
		max-width: 100%;
		flex-basis: 100%
	}
}

@media (min-width:1280px) {
	.j1q5mqey {
		flex-grow: 0;
		max-width: none;
		flex-basis: auto
	}
	.j1f6ozt0 {
		flex-grow: 1;
		max-width: 100%;
		flex-basis: 0
	}
	.j1d4u9ft {
		flex-grow: 0;
		max-width: 8.333333%;
		flex-basis: 8.333333%
	}
	.jplskc9 {
		flex-grow: 0;
		max-width: 16.666667%;
		flex-basis: 16.666667%
	}
	.j1rmsyz7 {
		flex-grow: 0;
		max-width: 25%;
		flex-basis: 25%
	}
	.j1d7arkn {
		flex-grow: 0;
		max-width: 33.333333%;
		flex-basis: 33.333333%
	}
	.j1ug8e7w {
		flex-grow: 0;
		max-width: 41.666667%;
		flex-basis: 41.666667%
	}
	.j3ru10a {
		flex-grow: 0;
		max-width: 50%;
		flex-basis: 50%
	}
	.juk05zj {
		flex-grow: 0;
		max-width: 58.333333%;
		flex-basis: 58.333333%
	}
	.jcu23bt {
		flex-grow: 0;
		max-width: 66.666667%;
		flex-basis: 66.666667%
	}
	.j1gq007d {
		flex-grow: 0;
		max-width: 75%;
		flex-basis: 75%
	}
	.jgnv97d {
		flex-grow: 0;
		max-width: 83.333333%;
		flex-basis: 83.333333%
	}
	.j1o71g07 {
		flex-grow: 0;
		max-width: 91.666667%;
		flex-basis: 91.666667%
	}
	.j9ac7wq {
		flex-grow: 0;
		max-width: 100%;
		flex-basis: 100%
	}
}

@media (min-width:1920px) {
	.j1p4p7y0 {
		flex-grow: 0;
		max-width: none;
		flex-basis: auto
	}
	.jeg5zty {
		flex-grow: 1;
		max-width: 100%;
		flex-basis: 0
	}
	.j1994ci8 {
		flex-grow: 0;
		max-width: 8.333333%;
		flex-basis: 8.333333%
	}
	.j6p721c {
		flex-grow: 0;
		max-width: 16.666667%;
		flex-basis: 16.666667%
	}
	.joi4n96 {
		flex-grow: 0;
		max-width: 25%;
		flex-basis: 25%
	}
	.j1c68nl7 {
		flex-grow: 0;
		max-width: 33.333333%;
		flex-basis: 33.333333%
	}
	.j1fbeah {
		flex-grow: 0;
		max-width: 41.666667%;
		flex-basis: 41.666667%
	}
	.j61kvc5 {
		flex-grow: 0;
		max-width: 50%;
		flex-basis: 50%
	}
	.jjiyci2 {
		flex-grow: 0;
		max-width: 58.333333%;
		flex-basis: 58.333333%
	}
	.j1ps3jfl {
		flex-grow: 0;
		max-width: 66.666667%;
		flex-basis: 66.666667%
	}
	.j10qaxfk {
		flex-grow: 0;
		max-width: 75%;
		flex-basis: 75%
	}
	.jqmeogx {
		flex-grow: 0;
		max-width: 83.333333%;
		flex-basis: 83.333333%
	}
	.j1vtuzd {
		flex-grow: 0;
		max-width: 91.666667%;
		flex-basis: 91.666667%
	}
	.jf9oefg {
		flex-grow: 0;
		max-width: 100%;
		flex-basis: 100%
	}
}

.jaewh4y {
	height: 1px;
	margin: 0;
	border: none;
	flex-shrink: 0;
	background-color: rgba(0, 0, 0, .12)
}

.jaewh4y.divider--vertical {
	width: 1px;
	margin: 0 16px;
	display: inline-block;
	transform: scaleX(.5);
	background-color: #262626
}

.j1quocq7 {
	left: 0;
	width: 100%;
	bottom: 0;
	position: absolute
}

.j69dade {
	margin-left: 72px
}

.j6zpyev {
	background-color: rgba(0, 0, 0, .08)
}

.j1lnu1j2 {
	margin-left: 16px;
	margin-right: 16px
}

.j14kgtgl {
	text-decoration: none
}

.j1fqyx3o {
	text-decoration: none
}

.j1fqyx3o:hover {
	text-decoration: underline
}

.jdwjz0e {
	text-decoration: underline
}

.j1t7qxpo {
	border: 0;
	margin: 0;
	cursor: pointer;
	outline: 0;
	padding: 0;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border-radius: 0;
	vertical-align: middle;
	-moz-appearance: none;
	background-color: transparent;
	-webkit-appearance: none;
	-webkit-tap-highlight-color: transparent
}

.j1t7qxpo::-moz-focus-inner {
	border-style: none
}

.j2t3bix {
	background-color: #fff
}

.j1fsuplq {
	border-radius: 4px
}

.j1axqjmf {
	box-shadow: none
}

.j1usk4xa {
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12)
}

.j1pwranf {
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12)
}

.jrpsakd {
	box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .2), 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .12)
}

.j198okq7 {
	box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12)
}

.j12tbc2s {
	box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 5px 8px 0 rgba(0, 0, 0, .14), 0 1px 14px 0 rgba(0, 0, 0, .12)
}

.j11swjv7 {
	box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12)
}

.j1y8a9v7 {
	box-shadow: 0 4px 5px -2px rgba(0, 0, 0, .2), 0 7px 10px 1px rgba(0, 0, 0, .14), 0 2px 16px 1px rgba(0, 0, 0, .12)
}

.j109td1o {
	box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12)
}

.j15xmir5 {
	box-shadow: 0 5px 6px -3px rgba(0, 0, 0, .2), 0 9px 12px 1px rgba(0, 0, 0, .14), 0 3px 16px 2px rgba(0, 0, 0, .12)
}

.jjb3ub3 {
	box-shadow: 0 6px 6px -3px rgba(0, 0, 0, .2), 0 10px 14px 1px rgba(0, 0, 0, .14), 0 4px 18px 3px rgba(0, 0, 0, .12)
}

.j1e6i0cq {
	box-shadow: 0 6px 7px -4px rgba(0, 0, 0, .2), 0 11px 15px 1px rgba(0, 0, 0, .14), 0 4px 20px 3px rgba(0, 0, 0, .12)
}

.j8fuxw3 {
	box-shadow: 0 7px 8px -4px rgba(0, 0, 0, .2), 0 12px 17px 2px rgba(0, 0, 0, .14), 0 5px 22px 4px rgba(0, 0, 0, .12)
}

.j1ofiff7 {
	box-shadow: 0 7px 8px -4px rgba(0, 0, 0, .2), 0 13px 19px 2px rgba(0, 0, 0, .14), 0 5px 24px 4px rgba(0, 0, 0, .12)
}

.j1ghyyje {
	box-shadow: 0 7px 9px -4px rgba(0, 0, 0, .2), 0 14px 21px 2px rgba(0, 0, 0, .14), 0 5px 26px 4px rgba(0, 0, 0, .12)
}

.jsrhkn5 {
	box-shadow: 0 8px 9px -5px rgba(0, 0, 0, .2), 0 15px 22px 2px rgba(0, 0, 0, .14), 0 6px 28px 5px rgba(0, 0, 0, .12)
}

.j1bragd1 {
	box-shadow: 0 8px 10px -5px rgba(0, 0, 0, .2), 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12)
}

.j1vfif5x {
	box-shadow: 0 8px 11px -5px rgba(0, 0, 0, .2), 0 17px 26px 2px rgba(0, 0, 0, .14), 0 6px 32px 5px rgba(0, 0, 0, .12)
}

.jdnr60q {
	box-shadow: 0 9px 11px -5px rgba(0, 0, 0, .2), 0 18px 28px 2px rgba(0, 0, 0, .14), 0 7px 34px 6px rgba(0, 0, 0, .12)
}

.jjcy4u9 {
	box-shadow: 0 9px 12px -6px rgba(0, 0, 0, .2), 0 19px 29px 2px rgba(0, 0, 0, .14), 0 7px 36px 6px rgba(0, 0, 0, .12)
}

.j14jodlm {
	box-shadow: 0 10px 13px -6px rgba(0, 0, 0, .2), 0 20px 31px 3px rgba(0, 0, 0, .14), 0 8px 38px 7px rgba(0, 0, 0, .12)
}

.j1682b3z {
	box-shadow: 0 10px 13px -6px rgba(0, 0, 0, .2), 0 21px 33px 3px rgba(0, 0, 0, .14), 0 8px 40px 7px rgba(0, 0, 0, .12)
}

.jjy4mpo {
	box-shadow: 0 10px 14px -6px rgba(0, 0, 0, .2), 0 22px 35px 3px rgba(0, 0, 0, .14), 0 8px 42px 7px rgba(0, 0, 0, .12)
}

.jd1xfu2 {
	box-shadow: 0 11px 14px -7px rgba(0, 0, 0, .2), 0 23px 36px 3px rgba(0, 0, 0, .14), 0 9px 44px 8px rgba(0, 0, 0, .12)
}

.jszk2mv {
	box-shadow: 0 11px 15px -7px rgba(0, 0, 0, .2), 0 24px 38px 3px rgba(0, 0, 0, .14), 0 9px 46px 8px rgba(0, 0, 0, .12)
}

.j1auq9sh {
	width: 100%;
	height: 77px;
	display: flex;
	z-index: 1100;
	box-sizing: border-box;
	flex-shrink: 0;
	align-items: center;
	border-bottom: 1px solid rgba(0, 0, 0, .0975);
	flex-direction: column
}

.j1auq9sh .image__instagram-logo {
	width: 28px;
	height: 28px
}

.j1auq9sh .image__instagram-label {
	max-width: 103px;
	margin-top: 4px
}

.j1auq9sh .toolbar__root {
	width: 100%;
	padding: 26px 20px;
	max-width: 1010px
}

.j1auq9sh .icon__root {
	font-size: 24px
}

.j1auq9sh .divider--vertical {
	height: 28px
}

.j1auq9sh .icon__root:not(:first-child) {
	margin-left: 30px
}

.j17i5irl {
	top: 0;
	left: auto;
	right: 0;
	position: fixed
}

.jesmxm {
	top: 0;
	left: auto;
	right: 0;
	position: absolute
}

.jkgbs4i {
	top: 0;
	left: auto;
	right: 0;
	position: -webkit-sticky;
	position: sticky
}

.jddo79d {
	position: static
}

.jc9i4jc {
	position: relative
}

.j17dd4mj {
	color: rgba(0, 0, 0, .87);
	background-color: #fff
}

.jsvtcw9 {
	color: #fff;
	background-color: #3897f0
}

.j1ub1di3 {
	color: #fff;
	background-color: #f50057
}

.jte21hw {
	display: flex;
	position: relative;
	align-items: center
}

.jte21hw.toolbar__root {
	min-height: auto
}

.jte21hw.toolbar--narrow {
	padding: 8px 24px
}

.ju2y67y {
	padding-left: 16px;
	padding-right: 16px
}

@media (min-width:600px) {
	.ju2y67y {
		padding-left: 24px;
		padding-right: 24px
	}
}

.j1i3ghpr {
	min-height: 56px
}

@media (min-width:0px) and (orientation:landscape) {
	.j1i3ghpr {
		min-height: 48px
	}
}

@media (min-width:600px) {
	.j1i3ghpr {
		min-height: 64px
	}
}

.jmickar {
	min-height: 48px
}

.j7oh225 {
	flex: 0 0 auto;
	color: rgba(0, 0, 0, .54);
	padding: 8px;
	overflow: visible;
	font-size: 1.5rem;
	text-align: center;
	transition: background-color 150ms cubic-bezier(.4, 0, .2, 1) 0s;
	border-radius: 50%
}

.j7oh225:hover {
	background-color: rgba(0, 0, 0, .08)
}

.j7oh225.jbijw0p {
	color: rgba(0, 0, 0, .26)
}

.j7oh225.icon-button--shaded {
	background-color: rgba(0, 0, 0, .08)
}

.j7oh225.icon-button--no-pad {
	padding: 0
}

.j7oh225.icon-button--narrow-pad {
	padding: 4px
}

.j7oh225.icon-button--separated {
	position: relative
}

.j7oh225.icon-button--link-inverted .icon__root {
	color: rgba(255, 255, 255, .7);
	cursor: pointer;
	display: inline-block
}

.j7oh225.icon-button--link-inverted:hover .icon__root {
	color: #fff
}

.j7oh225.icon-button--link-inverted .icon__root:hover {
	color: #fff
}

.j7oh225.icon-button--separated .icon__front {
	transition: .15s ease
}

.j7oh225.icon-button--separated .icon__caret {
	right: 2px;
	opacity: 0;
	position: absolute;
	transition: .15s ease;
	visibility: hidden
}

.j7oh225.icon-button--separated:hover .icon__front {
	transform: translateX(-6px)
}

.j7oh225.icon-button--separated:hover .icon__front--flipped {
	transform: translateX(-6px) rotateZ(-20deg)
}

.j7oh225.icon-button--separated:hover .icon__caret {
	right: -4px;
	opacity: 1;
	visibility: visible
}

@media (hover:none) {
	.j7oh225:hover {
		background-color: transparent
	}
}

.j7oh225:hover.jbijw0p {
	background-color: transparent
}

.j1s0k9fl {
	color: inherit
}

.j17x8hbi {
	color: #3897f0
}

.j17x8hbi:hover {
	background-color: rgba(56, 151, 240, .08)
}

@media (hover:none) {
	.j17x8hbi:hover {
		background-color: transparent
	}
}

.j1od9si {
	color: #f50057
}

.j1od9si:hover {
	background-color: rgba(245, 0, 87, .08)
}

@media (hover:none) {
	.j1od9si:hover {
		background-color: transparent
	}
}

.jlwtfo3 {
	width: 100%;
	display: flex;
	align-items: inherit;
	justify-content: inherit
}

html {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

*,
::after,
::before {
	box-sizing: inherit
}

body {
	margin: 0;
	background-color: #fafafa
}

@media print {
	body {
		background-color: #fff
	}
}

.jr7no7f {
	width: 44px;
	height: 44px;
	display: flex;
	position: relative;
	overflow: hidden;
	font-size: 1.25rem;
	flex-shrink: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	align-items: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border-radius: 50%;
	justify-content: center;
	background-color: #fafafa
}

.jr7no7f:after {
	top: 0;
	left: 0;
	right: 0;
	border: 1px solid rgba(0, 0, 0, .0975);
	bottom: 0;
	content: "";
	position: absolute;
	border-radius: 50%;
	pointer-events: none
}

.jr7no7f.avatar--link {
	cursor: pointer
}

.jr7no7f.avatar--small {
	width: 34px;
	height: 34px
}

.jr7no7f.avatar--medium {
	width: 77px;
	height: 77px
}

.jr7no7f.avatar--ultra-large {
	width: 152px;
	height: 152px
}

.j5c6rr9 {
	color: #fafafa;
	background-color: #bdbdbd
}

.j16eka8i {
	width: 100%;
	height: 100%;
	text-align: center;
	object-fit: cover
}

.j1sbulm4 {
	width: 100%;
	height: 2px;
	bottom: 0;
	position: absolute;
	transition: all .3s cubic-bezier(.4, 0, .2, 1) 0s
}

.j1vogez8 {
	background-color: #3897f0
}

.j16brtw5 {
	background-color: #f50057
}

.jtofpx6 {
	overflow: visible;
	min-height: 48px;
	border-top: 1px solid #efefef;
	-webkit-overflow-scrolling: touch
}

.j28nl79 {
	display: flex
}

.j199gf8n {
	justify-content: center
}

.jpblw0g {
	flex: 1 1 auto;
	display: inline-block;
	position: relative;
	white-space: nowrap
}

.jb5ztor {
	width: 100%;
	overflow-x: visible
}

.jf5xvz2 {
	overflow-x: scroll
}

@media (max-width:599.95px) {
	.j9qkq8b {
		display: none
	}
}

.j1ibbp5d {
	height: 1px;
	transform: translateY(-53px);
	background-color: #262626
}

.j67fdaj {
	color: rgba(0, 0, 0, .87);
	padding: 0;
	overflow: hidden;
	position: relative;
	font-size: .875rem;
	max-width: 264px;
	min-width: 0;
	text-align: center;
	min-height: 48px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	flex-shrink: 0;
	line-height: inherit;
	white-space: normal;
	font-weight: 500;
	margin-left: 8px;
	margin-right: 8px;
	text-transform: uppercase
}

@media (min-width:960px) {
	.j67fdaj {
		font-size: .8125rem;
		min-width: 0;
		margin-left: 30px;
		margin-right: 30px
	}
}

.j67fdaj.tab--selected .tab__label {
	font-weight: 600
}

.j67fdaj.tab--selected * {
	color: #262626!important
}

.j1oyn4r0 {
	min-height: 53px;
	padding-top: 0
}

.j1oyn4r0 .MuiTab-wrapper {
	flex-direction: row
}

.j1oyn4r0 .icon__root {
	font-size: 16px;
	margin-right: 6px
}

.jj07741 {
	color: inherit;
	opacity: .7
}

.jj07741.jn0nofi {
	opacity: 1
}

.jj07741.jbijw0p {
	opacity: .4
}

.j5me4b8 {
	color: rgba(0, 0, 0, .54)
}

.j5me4b8.jn0nofi {
	color: #3897f0
}

.j5me4b8.jbijw0p {
	color: rgba(0, 0, 0, .38)
}

.jatu6yt {
	color: rgba(0, 0, 0, .54)
}

.jatu6yt.jn0nofi {
	color: #f50057
}

.jatu6yt.jbijw0p {
	color: rgba(0, 0, 0, .38)
}

.j1uxztwa {
	flex-grow: 1;
	max-width: none;
	flex-shrink: 1
}

.j1oeyqu1 {
	width: 100%;
	display: inline-flex;
	align-items: center;
	flex-direction: row;
	justify-content: center
}

.j1oeyqu1 * {
	color: #999
}

.jjizp6z {
	width: 100%;
	padding: 0;
	box-sizing: border-box
}

@media (min-width:960px) {
	.jjizp6z {
		padding: 0;
		padding-left: 0;
		padding-right: 0
	}
}

.j1po9kyc {
	letter-spacing: 1px;
	text-transform: uppercase
}

.j1gzr8fn {
	width: 1em;
	height: 1em;
	overflow: hidden;
	font-size: 24px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	flex-shrink: 0
}

.j1gzr8fn.icon--link-inverted {
	color: rgba(255, 255, 255, .7);
	cursor: pointer;
	display: inline-block
}

.j1gzr8fn.icon--link {
	color: initial;
	cursor: pointer;
	display: inline-block
}

.j1gzr8fn.icon--white {
	color: #fff
}

.j1gzr8fn.icon--small {
	font-size: 18px
}

.j1gzr8fn.icon--contained {
	width: calc(1em + 4px);
	color: #fff;
	height: calc(1em + 4px);
	padding: 4px;
	border-radius: 50%
}

.j1gzr8fn.icon--contained.icon--red {
	background-color: red
}

.j1gzr8fn.icon--contained.icon--primary {
	background-color: #3897f0
}

.j1gzr8fn.icon--contained.icon--purple {
	background-color: purple
}

.j1gzr8fn.icon--link-inverted:hover {
	color: #fff
}

.j1brs99t {
	color: #3897f0
}

.j53jghy {
	color: #f50057
}

.jpgrppk {
	color: rgba(0, 0, 0, .54)
}

.j1bt7jss {
	color: #f44336
}

.j1409lu3 {
	color: rgba(0, 0, 0, .26)
}

.j1ablqa9 {
	font-size: inherit
}

.j1sk1ra6 {
	font-size: 20px
}

.ji3bhim {
	font-size: 36px
}

.j1ocptnd {
	margin-top: 48px;
	margin-bottom: 32px
}

.j1djno88 {
	top: 0;
	position: absolute
}

.j1 {
	margin: auto;
	padding: 60px 20px 0;
	max-width: 935px
}

.j2 {
	margin-bottom: 44px
}

.j3 {
	margin-bottom: 20px
}

.j4 {
	margin-bottom: 20px
}

.j24mxoa {
	margin-top: 12px;
	margin-left: 0
}

@media (min-width:600px) {
	.j24mxoa {
		margin-top: 0;
		margin-left: 20px
	}
}

@media (min-width:600px) {
	.ji2mnt1 {
		margin-left: 5px
	}
}